
<section>
    <div class="pages-title-area">
      <h4>About</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum ullam
        consequatur repellat accusamus sit sunt,
      </p>
    </div>
  </section>

  <section>
    <div class="about-panel">
      <h5>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
        asperiores, similique odio minus commodi deleniti necessitatibus
        repellat in itaque natus sed! Optio repudiandae eum necessitatibus,
        nisi officiis alias sint quaerat.
      </h5>
      <div class="about-img">
        <img
        src="/frontend/assets/310546903_5723166694410183_3165207936879870276_n.jpg"
        alt=""
      />
      </div>
      
      <h5>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
        illo nisi excepturi distinctio unde asperiores. Sint soluta alias
        quos, earum ab reprehenderit pariatur voluptatum fuga velit. Quae
        commodi sit nesciunt. Sint consectetur commodi nemo asperiores at,
        saepe nisi reiciendis consequuntur nihil ea illum velit, aliquid
        ducimus eius voluptates pariatur repudiandae, quis consequatur
        perspiciatis facilis temporibus ratione impedit molestiae! Alias,
        maiores?
      </h5>
      <div class="about-img-area">
        <img src="/frontend/assets/Başlıadsadadsksız-1.jpg" alt="" />
        <img src="/frontend/assets/YapayZekaAfişV2.jpg" alt="" />
        <img src="/frontend/assets/Başlıadsadadsksız-1.jpg" alt="" />
      </div>
      <h5>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum laborum nobis adipisci dolor consequuntur cum vitae soluta officiis aspernatur enim dignissimos libero,</h5>
    </div>
  </section>