<section>
    <div class="pages-title-area">
      <h4>Blog</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum ullam
        consequatur repellat accusamus sit sunt,
      </p>
    </div>
  </section>
  <section>

    <div class="work-panel">
  
      <div class="blogs-area">
        <div class="blogs-card ">
          <div class="blogs-card-img-area">
            <a href="">
              <img
                class="blogs-card-img"
                src="/frontend/assets/Başlıadsadadsksız-1.jpg"
                alt=""
              />
            </a>
          </div>
          <div class="blogs-card-text">
            <h5>Web/Mobile</h5>
            <a href="">Kitap Dağı</a>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Distinctio temporibus soluta omnis? Officia laborum modi ipsam
              saepe
            </p>
          </div>
        </div>
        <div class="blogs-card ">
          <div class="blogs-card-img-area">
            <a href="">
              <img class="blogs-card-img" src="/frontend/assets/Başlı.jpg" alt="" />
            </a>
          </div>
          <div class="blogs-card-text">
            <h5>Web</h5>
            <a href="">Demir Elit İnşaat</a>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Distinctio temporibus soluta omnis? Officia laborum modi ipsam
              saepe
            </p>
          </div>
        </div>

        <div class="blogs-card ">
          <div class="blogs-card-img-area">
            <a href="">
              <img
                class="blogs-card-img"
                src="/frontend/assets/Başlıadsadadsksız-1.jpg"
                alt=""
              />
            </a>
          </div>
          <div class="blogs-card-text">
            <h5>Web/Mobile</h5>
            <a href="">Kitap Dağı</a>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Distinctio temporibus soluta omnis? Officia laborum modi ipsam
              saepe
            </p>
          </div>
        </div>
        <div class="blogs-card ">
          <div class="blogs-card-img-area">
            <a href="">
              <img class="blogs-card-img" src="/frontend/assets/Başlı.jpg" alt="" />
            </a>
          </div>
          <div class="blogs-card-text">
            <h5>Web</h5>
            <a href="">Demir Elit İnşaat</a>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Distinctio temporibus soluta omnis? Officia laborum modi ipsam
              saepe
            </p>
          </div>
        </div>
      </div>
      
    </div>