<section>
    <div class="pages-title-area">
      <h4>Contact</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum ullam
        consequatur repellat accusamus sit sunt,
      </p>
    </div>
  </section>
  <div class="work-panel">

    <form class="contact-form" action="/contact" method="post">
      <div class="contact-form-area">
        <input class="contact-input" type="text" name="name" id="" placeholder="Name">
        <input class="contact-input" type="email"  placeholder="Email" name="email">
        <textarea name="message" id=""  rows="5" placeholder="Message" ></textarea>
      </div>
      <button type="submit" class="contact-button">Send Message</button>
    </form>
  </div>