<div class="row">
    <div class="col-12">
      <div
      class="px-3 py-4 mb-3 rounded d-flex flex-row justify-content-center align-items-center navbar-detached   bg-navbar-theme"
      id="layout-navbar">
      <h3 class="m-0">Contact Page</h3>
      
      </div>
    </div>
  </div>
  
  
  
  <div class="row">

    <% for( let index = 0; index < result.length; index++ ) { %>
      <div class="col-12">
        <div class="card mb-4">
            <div class="card-body">
              <h5 class="card-title"><%- result[index].name %></h5>
              <div class="card-subtitle text-muted mb-3"><%- result[index].email %></div>
              <p class="card-text">
                <%- result[index].message %>
              </p>
              <a href="/admin/contact-delete/<%- result[index].id %>" class="btn btn-danger">Delete</a>
           
            </div>
          </div>
    </div>
    <% } %>


  </div>
  