<div class="row">
  <div class="col-12">
    <div
    class="px-3 py-4 mb-3 rounded d-flex flex-row justify-content-center align-items-center navbar-detached   bg-navbar-theme"
    id="layout-navbar">
    <h3 class="m-0">Home Page</h3>
    
    </div>
  </div>
</div>



<div class="row">
  <div class="col-12">
    <div class="card">
      
      <div class="card-body demo-vertical-spacing demo-only-element">
        <form action="" method="post">
          <div class="input-group mb-3">
            <input type="file" class="form-control mb-3" id="inputGroupFile02" name="profilImg"/>
            <label class="input-group-text" for="inputGroupFile02"
              >Profile Picture</label
            >
          </div>
          <div class="input-group mb-3">
            <input type="file" class="form-control" id="inputGroupFile02" name="sideImg"/>
            <label class="input-group-text" for="inputGroupFile02"
              >Header Area Picture</label
            >
          </div>
          <div class=" mb-3">
            <label for="defaultFormControlInput" class="form-label"
              >Header Area Text</label
            >
            <input
              type="text"
              class="form-control"
              id="defaultFormControlInput "name="mainText"
            />
          </div>
          <div class=" mb-3"> 
            <label for="defaultFormControlInput" class="form-label">Card-1</label>
            <input
              type="text"
              class="form-control mb-3"
              id="defaultFormControlInput" name="card1Title"
              placeholder="Title"
            />
  
            <textarea
            class="form-control" id="exampleFormControlTextarea1" name="card1Text" rows="3"   placeholder="Text"
            ></textarea>
          </div>
          <div class=" mb-3">
            <label for="defaultFormControlInput" class="form-label">Card-2</label>
            <input
              type="text"
              class="form-control mb-3"
              id="defaultFormControlInput" name="card2Title"
              placeholder="Title"
            />
  
            <textarea
            class="form-control" id="exampleFormControlTextarea1" name="card2Text"rows="3"   placeholder="Text"
            ></textarea>
          </div>
          <div class=" mb-3">
            <label for="defaultFormControlInput" class="form-label">Card-3</label>
            <input
              type="text"
              class="form-control mb-3"
              id="defaultFormControlInput" name="card3Title"
              placeholder="Title"
            />
  
            <textarea
            class="form-control" id="exampleFormControlTextarea1" name="card3Text"rows="3"   placeholder="Text"
            ></textarea>
          </div>
          <div class=" mb-3">
            <label for="defaultFormControlInput" class="form-label">Card-4</label>
            <input
              type="text"
              class="form-control mb-3"
              id="defaultFormControlInput"name="card4Title"
              placeholder="Title"
            />
  
            <textarea
            class="form-control" id="exampleFormControlTextarea1" name="card4Text"rows="3"   placeholder="Text"
            ></textarea>
          </div>
          <div class="text-center">
            <button class="btn btn-success  mb-3">Update</button>
          </div>
        </form>
   
      </div>
     
      
    </div>
  </div>
</div>
