<div class="row">
    <div class="col-12">
      <div
        class="px-3 py-4 mb-3 rounded d-flex flex-row justify-content-center align-items-center navbar-detached bg-navbar-theme"
        id="layout-navbar"
      >
        <h3 class="m-0">Add New Work</h3>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body demo-vertical-spacing demo-only-element">
          <form action="/admin/work-add" method="post" enctype="multipart/form-data">
            <div class="input-group mb-3">
              <input
                type="file"
                class="form-control"
                id="inputGroupFile02"
                name="mainImg"
              />
              <label class="input-group-text" for="inputGroupFile02"
                >Header Area Picture</label
              >
            </div>
            <div class="mb-3">
              <label for="defaultFormControlInput" class="form-label">Tag</label>
              <input
                type="text"
                class="form-control"
                id="defaultFormControlInput "
                name="tag"
              />
            </div>
            <div class="mb-3">
              <label for="defaultFormControlInput" class="form-label">Name</label>
              <input
                type="text"
                class="form-control"
                id="defaultFormControlInput "
                name="name"
              />
            </div>
            <div class="mb-3">
              <label for="defaultFormControlInput" class="form-label">Text</label>
              <input
                type="text"
                class="form-control"
                id="defaultFormControlInput "
                name="text"
              />
            </div>
            <div class="mb-3">
              <label for="defaultFormControlInput" class="form-label">Date</label>
              <input
                type="text"
                class="form-control"
                id="defaultFormControlInput "
                name="date"
              />
            </div>
  
            <div class="mb-3">
              <label for="defaultFormControlInput" class="form-label"
                >Languages</label
              >
              <input
                type="text"
                class="form-control"
                id="defaultFormControlInput "
                name="lang"
              />
            </div>
            <div class="mb-3">
              <label for="defaultFormControlInput" class="form-label">Link</label>
              <input
                type="text"
                class="form-control"
                id="defaultFormControlInput "
                name="link"
              />
            </div>
            <div class="mb-3">
              <label for="defaultFormControlInput" class="form-label">Description</label>
       
    
              <textarea
              class="form-control" id="exampleFormControlTextarea1" name="desc"rows="3"   
              ></textarea>
            </div>
            <div class="text-center">
              <button class="btn btn-primary mb-3">Add</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  