<div class="row">
  <div class="col-12">
    <div
      class="px-3 py-4 mb-3 rounded d-flex flex-row justify-content-center align-items-center navbar-detached bg-navbar-theme"
      id="layout-navbar"
    >
      <h3 class="m-0">Work Page</h3>
    </div>
  </div>
</div>

<div class="row mt-4">

  <% for( let index = 0; index < result.length; index++ ) { %>
    <div class="col-md-6 col-lg-4 mb-3 ">
      <div class="card  ">
        <img class="card-img-top img-fluid" src="/uploads/images/<%- result[index].mainImg.imgName %>" alt="Card image cap" style="max-height: 216px; width: fit-content; margin: auto;"/>
        <div class="card-body">
  
       
          <div class="text-center">
              <h4 class="card-title "><%- result[index].name %></h4>
              <a href="/admin/work-update/<%- result[index].id %>" class="btn btn-success mx-1">Update</a>
              <a href="/admin/work-delete/<%- result[index].id %>" class="btn btn-danger mx-1">Delete</a>
          </div>
         
        </div>
      </div>
    </div>
  <% } %>
  
        
  
    
    <div class="text-center  my-3">
        <a href="/admin/work-add" class="btn btn-primary btn-lg">Add</a>
    </div>
         
</div>
