<div class="row">
  <div class="col-12">
    <div
      class="px-3 py-4 mb-3 rounded d-flex flex-row justify-content-center align-items-center navbar-detached bg-navbar-theme"
      id="layout-navbar"
    >
      <h3 class="m-0">Work Page</h3>
    </div>
  </div>
</div>

<div class="row mt-4">

  
        <div class="col-md-6 col-lg-4 mb-3 ">
            <div class="card  ">
              <img class="card-img-top" src="/frontend/assets/Başlıadsadadsksız-1.jpg" alt="Card image cap" />
              <div class="card-body">
        
             
                <div class="text-center">
                    <h4 class="card-title ">Demir Elit İnşaat Reklam Sitesi</h4>
                    <a href="javascript:void(0)" class="btn btn-success mx-1">Update</a>
                    <a href="javascript:void(0)" class="btn btn-danger mx-1">Delete</a>
                </div>
               
              </div>
            </div>
          </div>
  
        <div class="col-md-6 col-lg-4 mb-3 ">
            <div class="card  ">
              <img class="card-img-top" src="/frontend/assets/Başlıadsadadsksız-1.jpg" alt="Card image cap" />
              <div class="card-body">
        
             
                <div class="text-center">
                    <h4 class="card-title ">Demir Elit İnşaat Reklam Sitesi</h4>
                    <a href="javascript:void(0)" class="btn btn-success mx-1">Update</a>
                    <a href="javascript:void(0)" class="btn btn-danger mx-1">Delete</a>
                </div>
               
              </div>
            </div>
          </div>
  
        <div class="col-md-6 col-lg-4 mb-3 ">
            <div class="card  ">
              <img class="card-img-top" src="/frontend/assets/Başlıadsadadsksız-1.jpg" alt="Card image cap" />
              <div class="card-body">
        
             
                <div class="text-center">
                    <h4 class="card-title ">Demir Elit İnşaat Reklam Sitesi</h4>
                    <a href="javascript:void(0)" class="btn btn-success mx-1">Update</a>
                    <a href="javascript:void(0)" class="btn btn-danger mx-1">Delete</a>
                </div>
               
              </div>
            </div>
          </div>
  
        <div class="col-md-6 col-lg-4 mb-3 ">
            <div class="card  ">
              <img class="card-img-top" src="/frontend/assets/Başlıadsadadsksız-1.jpg" alt="Card image cap" />
              <div class="card-body">
        
             
                <div class="text-center">
                    <h4 class="card-title ">Demir Elit İnşaat Reklam Sitesi</h4>
                    <a href="javascript:void(0)" class="btn btn-success mx-1">Update</a>
                    <a href="javascript:void(0)" class="btn btn-danger mx-1">Delete</a>
                </div>
               
              </div>
            </div>
          </div>
  
        <div class="col-md-6 col-lg-4 mb-3 ">
            <div class="card  ">
              <img class="card-img-top" src="/frontend/assets/Başlıadsadadsksız-1.jpg" alt="Card image cap" />
              <div class="card-body">
        
             
                <div class="text-center">
                    <h4 class="card-title ">Demir Elit İnşaat Reklam Sitesi</h4>
                    <a href="javascript:void(0)" class="btn btn-success mx-1">Update</a>
                    <a href="javascript:void(0)" class="btn btn-danger mx-1">Delete</a>
                </div>
               
              </div>
            </div>
          </div>
    <div class="text-center  my-3">
        <button class="btn btn-primary btn-lg">Add</button>
    </div>
         
</div>
