<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/frontend/css/style.css" />
    <link rel="shortcut icon" href="/frontend/assets/qr.png" type="image/x-icon" />
    <title><%- title %></title>
  </head>
  <body class="background">
    <nav>
      <div class="nav-logo">
        <a href=""> Ahmet Selim Boz </a>
      </div>
      <ul class="nav-menu">
        <li><a href="./index.html" class="active nav-link">Home</a></li>
        <li><a href="./pages/work.html" class="nav-link">Work</a></li>
        <li><a href="./pages/blog.html" class="nav-link">Blog</a></li>
        <li><a href="./pages/about.html" class="nav-link">About</a></li>
        <li><a href="./pages/contact.html" class="nav-link">Contact</a></li>
      </ul>
      <div class="nav-mode">
        <i class="bx bx-menu" id="menu"></i>
        <i class="bx bx-sun" id="sun"></i>
      </div>
    </nav>
    <div class="res-nav-panel">
      <ul class="res-nav-menu">
        <li><a href="./index.html" class="active res-nav-link">Home</a></li>
        <li><a href="./pages/work.html" class="res-nav-link">Work</a></li>
        <li><a href="./pages/blog.html" class="res-nav-link">Blog</a></li>
        <li><a href="./pages/about.html" class="res-nav-link">About</a></li>
        <li><a href="./pages/contact.html" class="res-nav-link">Contact</a></li>
      </ul>
    </div>

    <%- body %>

    <footer class="footer">
      <div class="footer-box">
        <div class="footer-logo-area">
          <h2>Ahmet Selim Boz</h2>
        </div>

        <div class="footer-logo-title">
          <h6>Backend Developer</h6>
        </div>
      </div>
      <hr class="now-underline" id="footer-line" />
      <div class="footer-box">
        <ul>
          <li><a href="./index.html" class="footer-menu active">Home</a></li>
          <li><a href="./pages/work.html" class="footer-menu">Work</a></li>
          <li><a href="./pages/blog.html" class="footer-menu">Blog</a></li>
          <li><a href="./pages/about.html" class="footer-menu">About</a></li>
          <li><a href="./pages/contact.html" class="footer-menu">Contact</a></li>
        </ul>
      </div>
      <hr class="now-underline" id="footer-line" />
      <div class="footer-box">
        <div class="footer-info-box">
          <a href="" class="footer-social">
            <i class="bx bxl-instagram social-icon"></i>
            <h3 class="footer-h3">Instagram</h3>
          </a>
          <a href="" class="footer-social">
            <i class="bx bxl-twitter social-icon"></i>
            <h3 class="footer-h3">Twitter</h3>
          </a>
          <a href="" class="footer-social">
            <i class="bx bxl-linkedin-square social-icon"></i>
            <h3 class="footer-h3">Linkedln</h3>
          </a>
          <a href="mailto:ahmetselimboz46@gmail.com" class="footer-social">
            <i class="bx bx-envelope social-icon"></i>
            <h3 class="footer-h3">ahmetselimbozz@gmail.com</h3>
          </a>
        </div>
      </div>
    </footer>
    <div class="footer-bottom">
      <h4>2023 © <a href="">Ahmet Selim Boz</a></h4>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="/frontend/js/index.js"></script>
  </body>
</html>







